/*** UTILS ***/
#canvas{
	position: fixed;
}
.clearfix{
	display: block;
	clear: both;
}

#container{
	display: none;
}

button:focus, button:active{
	outline: none;
}

/*** ---- LOADER ---- ***/

#loader{
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.5s opacity linear 3s;
}

#loader .container{
	display: block;
	width: 1200px;
	margin: auto;
	height: 100%;
	border: 12px ridge grey;
	/**background-color: #eee;**/
	position: relative;
	transition: 1s padding-top linear 1s;
	overflow: hidden;
	padding-top: 20%;
	box-sizing: border-box;
}

#loader .container div{
	float: left;
}

#twin-gears{
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	padding-top: 50px;
	visibility: hidden;
	transition: 0.5s visibility linear 1s;
}

#twin-gears-txt{
	opacity: 0;
	transition: 1s opacity linear 1.5s
}

#twin-icon-1,
#twin-icon-2{
	width: 150px;
	height: 150px;
	background-image: url('../img/gear.png');
	background-size: contain;
	background-position: center;
	position: absolute;
	z-index: 1;
}

#twin-icon-1{
	left: 43.5%;
	transition: 1.5s left ease-out;
}

#twin-icon-2{
	right: 44%;
	transition: 1.5s right ease-out;
}

/** Gear-Icon -> on load -> animation roue qui tourne **/
#twin-icon-1,
#twin-icon-2{
	animation: 4s rounding linear infinite;
}

@keyframes rounding{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

@keyframes roundingInverse{
	from{transform: rotate(360deg);}
	to{transform: rotate(0deg);}
}


/** Gear-Icon-1 -> loaded -> décalage **/
#loader .container #twin-icon-1.loaded-1{
	left: 0%;
	animation: 3s rounding ease-out 1;
	animation-fill-mode: forwards;
}

/** Gear-Icon-2 -> loaded -> décalage **/
#loader .container #twin-icon-2.loaded-2{
	right: 0%;
	animation: 3s rounding ease-out 1;
}
/** Twin-Gears -> loaded -> apparition **/
#loader .container #twin-gears.loaded{
	visibility: visible;
}

/** Twin-Gears -> loaded -> apparition **/
#twin-gears-txt.loaded{
	opacity: 1;
}

#loader .container.loaded{
	padding-top: 0px;
}

#loader .container.loaded #twin-icon-1.loaded-1{
	animation: 3s roundingTop linear infinite;
}

@keyframes roundingTop{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

#loader .container.loaded #twin-icon-2.loaded-2{
	animation: 3s roundingInverse linear infinite;
}

#hamburger-left{
	position: absolute;
	top: 13%;
	left: 3.5%;
	z-index: 9999;
}

#hamburger-right{
	position: absolute;
	top: 13%;
	right: 3.5%;
	z-index: 9999;
}